<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OCFR - Welcome!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">OCFR Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="data-entry.html">Data Entry<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="detailed-view.html">Detailed Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reports.html">Reports</a>
        </li>
      </ul>
    </div>
  </nav>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" href="#add" role="tab" data-toggle="tab">Firefighters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#update" role="tab" data-toggle="tab">Certificates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#delete" role="tab" data-toggle="tab">Firefighter Certifications</a>
  </li>
</ul>
<!--Modified from Jek Bao Choo's code on https://codepen.io/jek/pen/BoWNRy -->

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="add">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Start Date</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="p in patients" @click="handleRowClick(p)">
          <td>{{ p.patientGuid }}</td>
          <td>{{ p.firstName }}</td>
          <td>{{ p.lastName }}</td>
          <td>{{ p.dob }}</td>
          <td>{{ p.sexAtBirth }}</td>
        </tr>
      </tbody>
    </table>

    <div class="container">
      <div class="row">
        <div id="mainContent" class="col-md">
          <div id="recordsApp">
            <form @submit.prevent="handleSubmit">
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" v-model="recordPerson.firstName">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" v-model="recordPerson.lastName">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputAddress" placeholder="Address" v-model="recordPerson.address">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" v-model="recordPerson.email">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputDob" class="col-sm-2 col-form-label">DOB</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="inputDob" placeholder="2001-12-13" v-model="recordPerson.dob">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputGender" placeholder="Male|Female" v-model="recordPerson.gender">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputStartDate" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="inputStartDate" placeholder="Start Date" v-model="recordPerson.startDate">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputPosition" class="col-sm-2 col-form-label">Position</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPosition" placeholder="Position" v-model="recordPerson.position">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputRadioNumber" class="col-sm-2 col-form-label">Radio Number</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputRadioNumber" placeholder="Radio Number" v-model="recordPerson.radioNumber">
                </div>
              </div>

              <div class="form-check-inline">
                <label class="form-check-label" for="inputIsActiveYes">
                  <input type="radio" class="form-check-input" id="inputIsActiveYes" name="isActive" value="Active" checked>Active
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label" for="inputIsActiveNo">
                  <input type="radio" class="form-check-input" id="inputIsActiveNo" name="isActive" value="Not Active">Not Active
                </label>
              </div>

              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Add Employee</button>
                  <button type="submit" class="btn btn-primary">Modify Employee</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="update">




    <div class="container">
      <div class="row">
        <div id="mainContent2" class="col-md">
          <div id="recordsApp2">
            <form @submit.prevent="handleSubmitCert" >
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-2 col-form-label">Certificate ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="Certificate ID" v-model="certRecord.certId" disabled>
                </div>
              </div>


              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-2 col-form-label">Agency</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="Agency" v-model="certRecord.certAgency">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-2 col-form-label">Certificate Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Certificate Name" v-model="certRecord.certName">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputAddress" class="col-sm-2 col-form-label">Expiration Period</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="Expiration Period" v-model="certRecord.defaultExpPeriod">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Add Certificate</button>
                </div>
              </div>
            </form>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Certificate ID</th>
                  <th>Agency</th>
                  <th>Certificate Name</th>
                  <th>Expiration Period</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="c in certificate" @click="handleRowClickCert(c)">
                  <td>{{ c.certId }}</td>
                  <td>{{ c.certAgency }}</td>
                  <td>{{ c.certName }}</td>
                  <td>{{ c.defaultExpPeriod }}</td>

                  <td>
                    <form name="f1" @submit.prevent="handleDeleteCert" >
                      <input id="edit1" type="submit" name="delete" value="Delete">
                     </form>
                   </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="delete">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Certificate ID</th>
          <th>Date Renewed</th>
          <th>Expiration Date</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="p in patients" @click="handleRowClick(p)">
          <td>{{ p.patientGuid }}</td>
          <td>{{ p.firstName }}</td>
          <td>{{ p.lastName }}</td>
          <td>{{ p.dob }}</td>
          <td>{{ p.sexAtBirth }}</td>
        </tr>
      </tbody>
    </table>

    <div class="container">
      <div class="row">
        <div id="mainContent" class="col-md">
          <div id="patientRecordsApp">
            <form @submit.prevent="handleSubmit">
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" v-model="recordPatient.firstName">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" v-model="recordPatient.lastName">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputAddress" class="col-sm-2 col-form-label">Certificate Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputAddress" placeholder="Address" v-model="recordPatient.address">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Add Certification to Employee</button>
                  <button type="submit" class="btn btn-primary">Modify Certification</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="js/reports.app.js"></script>
  <script src="js/dataEntry.app.js"></script>
</body>
