<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OCFR - Welcome!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">OCFR Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="data-entry.html">Data Entry<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="detailed-view.html">Detailed Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reports.html">Reports</a>
        </li>
      </ul>
    </div>
  </nav>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" href="#expiredcertificate" role="tab" data-toggle="tab">List of People with Expired Certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#bystationandradio" role="tab" data-toggle="tab">List of People by Station and Radio Number</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#customisedreport" role="tab" data-toggle="tab">Search for a Customised Report</a>
  </li>
</ul>
<!--Modified from Jek Bao Choo's code on https://codepen.io/jek/pen/BoWNRy -->

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="expiredcertificate">
    <div class="container">
      <div class="row">
        <div id="mainContent" class="col-md">
          <div id="reportsApp">


            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>PersonId</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>DOB</th>
                  <th>Email</th>
                  <th>Position</th>
                  <th>Station Number</th>
                  <th>Radio Number</th>
                  <th>Certificate Name</th>
                  <th>Expiration Date</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr v-for="p in persons">
                  <td>{{ p.personId }}</td>
                  <td>{{ p.firstName }}</td>
                  <td>{{ p.lastName }}</td>
                  <td>{{ p.dob }}</td>
                  <td>{{ p.email }}</td>
                  <td>{{ p.position }}</td>
                  <td>{{ p.stationNumber }}</td>
                  <td>{{ p.radioNumber }}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="bystationandradio">
    <div class="container">
      <div class="row">
        <div id="mainContent2" class="col-md">
          <div id="reportsApp2">


            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>PersonId</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Position</th>
                  <th>Station Number</th>
                  <th>Radio Number</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="p in personsbystationradio">
                  <td>{{ p.personId }}</td>
                  <td>{{ p.firstName }}</td>
                  <td>{{ p.lastName }}</td>
                  <td>{{ p.email }}</td>
                  <td>{{ p.position }}</td>
                  <td>{{ p.stationId }}</td>
                  <td>{{ p.radioNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="customisedreport">
    <h2>Please select from the following options</h2>
    <button class="btn btn-primary">Search Member Records</button>
    <button class="btn btn-primary">Search Certificate Records</button>
  </div>
</div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/reports.app.js"></script>
  <script src="js/dataEntry.app.js"></script>

</body>
</html>
